**/bin/
**/obj/
**/packages/
**/.idea/
**/.vscode/
**/.DS_Store
**/*.user
**/*.suo
**/*.DotSettings.user
.vs/
TestResult*/
*.coverage
*.coveragejson
riderModule.iml
/_ReSharper.Caches/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.npm/
.env
.env.*

# Frontend
flowforge.ui/node_modules/
flowforge.ui/dist/
flowforge.ui/.eslintcache
flowforge.ui/.turbo
flowforge.ui/.parcel-cache
flowforge.ui/playwright-report/
flowforge.ui/test-results/
flowforge.ui/tests/e2e/artifacts/
flowforge.ui/playwright.config.ts
flowforge.ui/tests/screens.spec.ts
flowforge.ui/tests/e2e/tests/

# Backend
flowforge.api/flowforge.db*

# Docs and presentations
docs/
presentation/
