**/bin/
**/obj/
**/packages/
**/.idea/
**/.vscode/
**/.DS_Store
**/*.user
**/*.suo
**/*.DotSettings.user
riderModule.iml
/_ReSharper.Caches/

# Frontend
flowforge.ui/node_modules/
flowforge.ui/dist/

# Backend
flowforge.api/flowforge.db*
